*{
    box-sizing: border-box;
    font-family: sans-serif;
}

.main{
    padding: 30px 120px 52px;
}

header{
    display: flex;
    justify-content: space-between;
}

.nav{
    display: flex;
    gap: 50px;
}

.nav-items{
    color: #3D3D3D;
    font-family: sans-serif;
    font-size: 16px;
    padding: 8px 0 25px;
}

.active{
    font-weight: 700;
    border-bottom: 3px solid #46A358;
}
.login-button{
    border-radius: 6px;
    background: #46A358;
    padding: 8px 17px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    font-weight: 500;
}

